<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jxy.javatest.dao.ResponseMapper" >
  <resultMap id="BaseResultMap" type="cn.jxy.javatest.entity.Response" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="qt_id" property="qtId" jdbcType="INTEGER" />
    <result column="qt_name" property="qtName" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="INTEGER" />
    <result column="memory" property="memory" jdbcType="INTEGER" />
    <result column="write_date" property="writeDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, qt_id, qt_name, type_id, type_name, user_id, user_name, answer, status, score, 
    time, memory, write_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_response
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="countNum" resultType="java.lang.Integer">
  	select count(*)
	from (
		select *
  		from tb_response
  		where  user_id= #{0} and type_id= #{1}
  		group by qt_id ) tb_response
  </select>
  
 <select id="getByUserIdAndQtId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  	select 
    <include refid="Base_Column_List" />
    from tb_response
    where user_id = #{0} and qt_id = #{1} order by id desc
  </select>
  <select id="getForResId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  	select 
    <include refid="Base_Column_List" />
    from tb_response
    where status='已打开' and user_id = #{0} and qt_id = #{1}  order by id desc
  </select>
  
  <select id="getByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  	select 
    <include refid="Base_Column_List" />
    from tb_response
    where  user_id = #{userid,jdbcType=INTEGER}  order by id desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_response
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.jxy.javatest.entity.Response" >
    insert into tb_response (id, qt_id, qt_name, 
      type_id, type_name, user_id, 
      user_name, answer, status, 
      score, time, memory, 
      write_date)
    values (#{id,jdbcType=INTEGER}, #{qtId,jdbcType=INTEGER}, #{qtName,jdbcType=VARCHAR}, 
      #{typeId,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{userName,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{score,jdbcType=INTEGER}, #{time,jdbcType=INTEGER}, #{memory,jdbcType=INTEGER}, 
      #{writeDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.jxy.javatest.entity.Response" >
    insert into tb_response
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="qtId != null" >
        qt_id,
      </if>
      <if test="qtName != null" >
        qt_name,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="memory != null" >
        memory,
      </if>
      <if test="writeDate != null" >
        write_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="qtId != null" >
        #{qtId,jdbcType=INTEGER},
      </if>
      <if test="qtName != null" >
        #{qtName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=INTEGER},
      </if>
      <if test="memory != null" >
        #{memory,jdbcType=INTEGER},
      </if>
      <if test="writeDate != null" >
        #{writeDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.jxy.javatest.entity.Response" >
    update tb_response
    <set >
      <if test="qtId != null" >
        qt_id = #{qtId,jdbcType=INTEGER},
      </if>
      <if test="qtName != null" >
        qt_name = #{qtName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=INTEGER},
      </if>
      <if test="memory != null" >
        memory = #{memory,jdbcType=INTEGER},
      </if>
      <if test="writeDate != null" >
        write_date = #{writeDate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.jxy.javatest.entity.Response" >
    update tb_response
    set qt_id = #{qtId,jdbcType=INTEGER},
      qt_name = #{qtName,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      type_name = #{typeName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      time = #{time,jdbcType=INTEGER},
      memory = #{memory,jdbcType=INTEGER},
      write_date = #{writeDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>